<h1>Flights Index</h1>

<ul>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      <li><ul>Flight Number: <%= flight.number %><br>
      <% flight.passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
      <% end %></ul></li>
    </section>
  <% end %>
</ul>
